.button-success{
color: #ffffff;
background: #22C55E;
border: 1px solid  #22C55E;
height: 35px;
}

.button-cancel{
  color: #ffffff;
  background: #EF4444;
  border: 1px solid  #EF4444;
  height: 35px;
  }

.div-button{
  text-align: end;
  margin-top: 10px;
  margin-bottom: 10px;
}

.p-selectbutton {
  width: 10px;
}

button{
  margin-right: 3px;
}
