.button-success{
  color: #ffffff;
  background: #22C55E;
  border: 1px solid  #22C55E;
  height: 35px;
  }

  .button-cancel{
    color: #ffffff;
    background: #EF4444;
    border: 1px solid  #EF4444;
    height: 35px;
    }


    .example-container mat-form-field + mat-form-field {
      margin-left: 8px;
    }

    button{
      margin-right: 3px;
    }

    .container{
      width: 100%;
      margin-top: 20px;
    }
