<p-menubar [model]="menuList">
  <ng-template pTemplate="start">
      <img src="../../assets/images/icono.png" height="40" class="mr-2">
  </ng-template>
  <ng-template pTemplate="end">
      <input type="text" pInputText placeholder="Search">
  </ng-template>
</p-menubar>


  <div class="col-sm-12">
    <p-panel  header="{{pageTittle}}">
      <app-dashboard *ngIf="nav==0"></app-dashboard>
      <app-admin-enterprise *ngIf="nav==1"></app-admin-enterprise>
      <app-admin-department *ngIf="nav==2"></app-admin-department>
      <app-admin-employee  *ngIf="nav==3"></app-admin-employee>
      </p-panel>
  </div>




